<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Michael Bernstein</h1>
			<p>human-computer interaction &middot; social computing &middot; crowdsourcing</p>
		</div>

		<h4>Projects</h4>

		{{#if grid}}
<div class="row">
<div class="project col-md-4" id="{{projects.0.id}}">
	<div class="thumbnail">
		<a href="/project/{{projects.0.id}}">
			<img src="images/{{projects.0.image}}" alt="Lorem Pixel image">
			<h4>{{projects.0.title}}</h4>
		</a>
		<div class="details"></div>
	<button class="btn btn-default likeBtn">Like</button>
	</div>
</div>
</div>		
{{else}}
		{{#each projects}}
			<div class="project" id="{{id}}">
				<div class="thumbnail">
					<a href="/project/{{id}}">
						<img src="images/{{image}}" alt="Lorem Pixel image" class="img-responsive">
						<h4>{{title}}</h4>
					</a>
					<div class="likeCtr"><button class="btn btn-default likeBtn">Like</button></div>
					<div class="details"></div>
				</div>
			</div>
		{{/each}}
		
		{{/if}}


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  //ga('create', 'UA-48525313-1', { 'cookieDomain': 'none' });
  ga('create', 'UA-48525313-1', 'lab8-kp.herokuapp.com');
  ga('send', 'pageview');
$(document).ready(function(){
	$(".likeBtn").click(function(){ga("send", "event", "Category", "Action");});
});
</script>
</body>
</html>
